.testimonial__image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimonial__title h5 {
  font-size: 18px;
}

.testimonial__title p small {
  font-size: 13px;
}

.testimonial__content p {
  color: var(--dark-color);
}
