/* Root Styles */
:root {
  --dark-color: #484848;
  --gray-color: #717171;
  --main-color: #e68a00;
  --white-color: #ffffff;
  --white-light: #fafafa;
  --transition: 0.3s;
  --radius-rounded-3: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Tag Styles */
body {
  background-color: var(--white-light);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main__bg {
  color: var(--white-color) !important;
  background-color: var(--main-color);
  box-shadow: none !important;
}

.white__bg {
  color: var(--dark-color);
  background-color: var(--white-color);
  box-shadow: none !important;
}

.white__bg .icon {
  color: var(--white-color);
  background-color: var(--dark-color);
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
}

/* Navbar Styles */
.navbar__nav .navbar-brand {
  height: 50px;
}

.navbar__nav .nav-link {
  color: var(--dark-color) !important;
  font-weight: 500;
}

.navbar__nav .cart__number {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  color: var(--white-color);
  background-color: var(--gray-color);
}

/* Activity Area */
.activity__area article {
  background-color: var(--white-color);
  text-align: center;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: var(--transition);
}

.activity__area article:hover {
  border-radius: 10px;
}

.activity__area article .icon {
  font-size: 18px;
  height: 35px;
  width: 35px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--main-color);
}

.activity__area article h6 {
  letter-spacing: 1px;
}

/* Title Area */
.title__content {
  width: 500px;
}

.cart__image {
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Menu Area */
.menu__cart {
  background-color: var(--white-color);
}

.menu__cart .cart__image {
  height: 220px;
  overflow: hidden;
}

.menu__cart .cart__image img {
  border-top-left-radius: var(--radius-rounded-3);
  border-top-right-radius: var(--radius-rounded-3);
  transition: all var(--transition);
}

.menu__cart .cart__image:hover img {
  transform: scale(1.1);
}

.menu__cart .cart__btn {
  border-top-left-radius: 50% !important;
  border-bottom-right-radius: var(--radius-rounded-3) !important;
  font-size: 20px;
}

/* Testimonial Area */
.testimonial__area .testimonial__image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimonial__title h5 {
  font-size: 18px;
}

.testimonial__title p small {
  font-size: 13px;
}

.testimonial__content p {
  color: var(--dark-color);
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-bottom: -16px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  top: 60%;
  opacity: 0;
  transition: all var(--transition);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  color: var(--white-color);
  font-weight: 700;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

/* footer__area */
.footer__area {
  background-color: var(--gray-color);
}

.footer__area .footer__logo img {
  height: 50px;
}

.footer__area p {
  color: var(--white-color);
  margin-bottom: 0;
}

.footer__area a {
  color: var(--white-color);
}

.footer__title {
  font-size: 20px;
  color: var(--white-color);
  position: relative;
}

.footer__title::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--white-light);
  left: 0;
  bottom: -2px;
}

.subscribe__input {
  display: flex;
}

.subscribe__input input {
  padding: 5px 10px;
  outline: 0 !important;
  border-radius: var(--radius-rounded-3);
  border: none;
}

.subscribe__input input[type='email'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe__input input[type='button'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
