.footer__area {
  background-color: var(--gray-color);
}

.footer__area p {
  color: var(--white-color);
  margin-bottom: 0;
}

.footer__area a {
  color: var(--white-color);
}

.footer__logo img {
  height: 50px;
}

.footer__title {
  font-size: 20px;
  color: var(--white-color);
  position: relative;
}

.footer__title::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--white-light);
  left: 0;
  bottom: -2px;
}

.subscribe__input {
  display: flex;
}

.subscribe__input input {
  padding: 5px 10px;
  outline: 0 !important;
  border-radius: var(--radius-rounded-3);
  border: none;
}

.subscribe__input input[type='email'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--gray-color);
}

.subscribe__input input[type='button'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
