/* Root Styles */
:root {
  --dark-color: #484848;
  --gray-color: #717171;
  --light-gray: #dddddd;
  --main-color: #e68a00;
  --white-color: #ffffff;
  --white-light: #fafafa;
  --green-color: #32a704;
  --red-color: #d10404;
  --transition: 0.3s;
  --radius-rounded-3: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Tag Styles */
body {
  background-color: var(--white-light);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main__bg {
  color: var(--white-color) !important;
  background-color: var(--main-color);
  box-shadow: none !important;
}

.white__bg {
  color: var(--dark-color);
  background-color: var(--white-color);
  box-shadow: none !important;
}

.white__bg .icon {
  color: var(--white-color);
  background-color: var(--dark-color);
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
}

.main__color {
  color: var(--main-color);
}

.gray__color {
  color: var(--light-gray);
}

.red__color {
  color: var(--red-color) !important;
  font-size: 14px;
}

.link__hover {
  text-decoration: none;
}

.link__hover:hover {
  text-decoration: underline;
}

.cursor__pointer {
  cursor: pointer;
}

.btn {
  box-shadow: none !important;
  user-select: none;
}

.stock__green {
  color: var(--green-color);
}

.stock__red {
  color: var(--red-color);
}

.text-right {
  text-align: right;
}

/* Testimonial Area Change default css in SwiperJS */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-bottom: -16px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  top: 60%;
  opacity: 0;
  transition: all var(--transition);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  color: var(--white-color);
  font-weight: 700;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

/* TEST */
.dropdown-menu,
.dropdown-menu.show {
  width: 220px !important;
  padding: 0;
  margin: 0;
  left: auto;
  right: -75px;
}

.cart__dropdown__item img {
  width: 40px;
  height: 40px;
}
